html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--black);
  color: var(--white);
  font-size: var(--font-size-1);
  line-height: 1.125rem;
}

main,
header,
footer {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.wrapper {
  padding: 1rem 1.125rem;
  max-width: 42.5rem;
  width: 100%;
  margin: 0 auto;
}
